*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper{
    background-color: rgb(202, 233, 233);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

#screen{
background-color: white;
border-radius: 14px;
display: flex;
justify-content: center;
align-items: center;
padding: 4px;
}
.screenPara{
    font-size: 60px;
}

.counterButton{
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: center;
    justify-content: center;
}

.minusCricle{
    background-color: rgb(116, 142, 223);
    height: 66px;
    width: 66px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.minusButton{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.plusCricle{
    background-color:rgb(122, 228, 122);
    height: 66px;
    width: 66px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plusButton{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.resetButton{
   align-self: center;
    background-color: rgb(187, 193, 193);
    border-radius: 18px;
    width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  cursor: pointer;

}